/* .promotion-search {


} */
.promotion-search__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.promotion-search__header h1{
    text-transform: uppercase;
    color: #2c3e50;


}

.promotion-search__input {
    display: flex;
    margin-bottom: 20px;
    height: 42px;
    border: 1px solid #ccc ;
    border-radius: 9px;
    width: 100%;
    padding: 0 10px;
    font-size: 15px;

}